* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-srd-ita.ita-srd.lrx -text
/apertium-srd-ita.ita-srd.t1x -text
/apertium-srd-ita.ita-srd.t2x -text
/apertium-srd-ita.ita-srd.t3x -text
/apertium-srd-ita.srd-ita.dix -text
/apertium-srd-ita.srd-ita.lrx -text
/apertium-srd-ita.srd-ita.t1x -text
/apertium-srd-ita.srd-ita.t2x -text
/apertium-srd-ita.srd-ita.t3x -text
/autogen.sh -text
/configure.ac -text
dev/glossariu.ita-srd.nospaces.txt -text
dev/glossariu.ita-srd.spaces.txt -text
dev/testvoc/bidix-unknowns.sh -text
dev/testvoc/generation.sh -text
dev/testvoc/streamparser.py -text
evaluacion/corriere160505.ita.txt -text
evaluacion/corriere160505.srd.txt -text
evaluacion/corriere160505.srd.u.txt -text
evaluacion/corriere160629.ita.txt -text
evaluacion/corriere160629.srd.ini.txt -text
evaluacion/corriere160629.srd.txt -text
evaluacion/limbasnatziones1305.ita.ini.txt -text
evaluacion/limbasnatziones1305.ita.txt -text
evaluacion/limbasnatziones1305.txt -text
evaluacion/limbasnatziones1380.ita.txt -text
evaluacion/limbasnatziones1380.rev.ita.txt -text
evaluacion/limbasnatziones1380.txt -text
evaluacion/limbasnatziones1380.u.ita.txt -text
/modes.xml -text
t/README.org -text
t/config.sh -text
t/config.sh.in -text
t/pending-tests -text
t/regression-tests -text
t/update-latest -text
t/wiki-tests -text
texts/cuento.2.srd.txt -text
texts/cuento.ita.txt -text
texts/cuento.srd.txt -text
texts/guernica.ita.txt -text
texts/guernica.srd.txt -text
texts/pantomaca.ita.txt -text
texts/pintxo.ita.txt -text
texts/pintxo.srd.txt -text
texts/pompia.ita.txt -text
texts/pompia.srd.txt -text
texts/sogliola.ita.txt -text
texts/sogliola.srd.txt -text
